@charset "UTF-8";
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-post .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #3FB6B0;
  padding: 18px 30px;
  position: fixed;
  bottom: 64px;
  right: 40px;
  cursor: pointer;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.btn-flotante:hover {
  background-color: #5CB235;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
/*Header map*/
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-post .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

/*header*/
header {
  background-color: #D3E4CD;
  width: 100%;
  height: 200px;
  /*logo*/
  /*menu nav*/
}
header .top-header {
  text-align: center;
}
header .top-header h1 a img {
  padding: 2%;
}
@media all and (max-width: 980px) {
  header .top-header h1 a img {
    display: flex;
  }
}
header nav {
  /*boton burguer*/
}
header nav input {
  display: none;
}
header nav label {
  display: inline;
}
header nav label .btn {
  display: none;
  position: absolute;
  width: 56px;
  height: 43px;
  right: 2.5rem;
  top: 3.3rem;
  cursor: pointer;
  /*fin boton burguer*/
}
header nav label .btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #874F9D;
  margin-top: 6px;
  transition: all 300ms;
  transform-origin: 0px 100%;
  /*transformacion de la cruz*/
  /* fin transformacion de la cruz*/
}
header nav label .btn span.linea1active {
  transform: rotate(45deg) translate(-2px, 1px);
}
header nav label .btn span.linea2active {
  opacity: 0;
  margin-left: -30px;
}
header nav label .btn span.linea3active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
header nav ul {
  color: #874F9D;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
}
header nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 7px;
  color: #874F9D;
  font-family: Inter, sans-serif;
}
header nav ul li:hover {
  color: #5CB235;
}
header nav ul li a, header nav ul li ul li {
  font-family: Inter, sans-serif;
  text-decoration: none;
  color: #874F9D;
  padding-left: 0px;
}
@media all and (max-width: 980px) {
  header nav ul li a, header nav ul li ul li {
    font-size: 0.8em;
  }
}
header nav ul li a:hover, header nav ul li ul li:hover {
  color: #5CB235;
}
header nav ul .desplegable .sub-menu {
  transform: translateY(-5%);
  display: flex;
  opacity: 0;
  transition: all 300ms ease-out;
  flex-direction: column;
  align-items: flex-start;
  margin-top: unset;
  position: absolute;
  font-size: 0.8rem;
  padding-top: 10px;
}
header nav ul .desplegable:hover > .sub-menu {
  transform: translateY(5%);
  opacity: 1;
  border-top: 1px solid #5CB235;
}
header nav ul .desplegable .arrow {
  font-size: 10px;
  padding: 3px;
  transition: all 300ms ease-out;
}
@media all and (max-width: 980px) {
  header nav ul .desplegable .arrow {
    font-size: 1.8rem;
  }
}
header nav ul .desplegable:hover > .arrow {
  transform: rotate(-180deg);
}

@media all and (max-width: 980px) {
  header {
    height: 12vh;
  }
  header div h1 a img {
    width: 41%;
    margin: 4% !important;
  }
  header nav #menu-burguer:checked ~ ul {
    left: 0;
  }
  header nav #menu-burguer:checked ~ body {
    overflow: hidden;
  }
  header nav #menu-burguer:checked ~ label .btn span {
    background: #D3E4CD;
  }
  header nav label .btn {
    display: block;
    right: 1.5rem;
    top: 1.3rem;
    z-index: 99;
  }
  header nav ul {
    display: flex;
    padding: 28% 0%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background-color: #3FB6B0;
    z-index: 98;
    left: 100%;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
    font-size: 2em;
    padding-left: 0px;
  }
  header nav ul li a {
    color: #D3E4CD;
  }
  header nav ul .desplegable {
    position: relative;
  }
  header nav ul .desplegable .sub-menu {
    height: auto;
    left: auto;
    display: none;
    opacity: 0;
    transition: all 300ms ease-out;
    border-top: 1px solid #D3E4CD !important;
    margin-top: unset;
    font-size: 0.8em;
    padding-top: 10px;
  }
  header nav ul .desplegable .sub-menu:target {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    transform: translateY(-8%);
  }
  .arrow {
    display: none;
  }
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-post .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3% 3% 1% 3%;
  /*Footer mobile*/
  /*Footer: tablet*/
}
footer .footer-text, footer .footer-dev {
  font-weight: bold;
  margin-bottom: 0;
}
footer .social-media {
  margin: 3%;
  align-items: center;
}
footer .social-media .logo-social {
  margin-left: 10px;
  font-size: 2.6em;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
footer .social-media .logo-social:hover {
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}
footer .social-media .fa-square-instagram {
  color: #874F9D;
  height: 0.9em;
}
@media screen and (max-width: 480px) {
  footer .footer-text {
    font-size: 13px;
  }
  footer .footer-dev {
    margin: 4% 0 2% 0;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
  }
  footer .logo-social {
    width: 70%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer .logo-social {
    width: 85%;
  }
}

.footer-dev > .heart {
  display: inline-flex;
  -webkit-animation-name: beatHeart;
          animation-name: beatHeart;
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-post .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-post .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #3FB6B0;
  padding: 18px 30px;
  position: fixed;
  bottom: 64px;
  right: 40px;
  cursor: pointer;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 100;
}

.btn-flotante:hover {
  background-color: #5CB235;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
main .index-section {
  margin: 10% 0%;
}
main .index-section .index-div1 {
  position: relative;
}
main .index-section .index-div2 {
  text-align: justify;
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  -moz-column-count: 2;
       column-count: 2; /* número de columnas */
  -moz-column-gap: 0px;
       column-gap: 0px; /* ancho de columnas */
  -moz-column-rule: 2px outset #3FB6B0;
       column-rule: 2px outset #3FB6B0; /* separación de columnas */
}
@media all and (max-width: 980px) {
  main .index-section .index-div2 {
    -moz-column-count: 1;
         column-count: 1;
  }
}
main .index-section .index-div2 .index-text {
  margin: 0 10%;
}
@media all and (max-width: 980px) {
  main .index-section .index-div2 .index-text {
    margin: 0;
  }
}
main .index-post {
  margin: 10% 0% 3% 0%;
}
main .index-post .post-div2 {
  padding-top: 3%;
  padding-bottom: 3%;
}
main .index-post .post-div2 .row-post {
  --bs-gutter-x: 6.5rem;
}
main .index-post .post-div2 .row-post div a img {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
  transition: all 300ms ease 0ms;
}
main .index-post .post-div2 .row-post div a img:hover {
  background-color: #5CB235;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #ffffff;
}
@media all and (max-width: 980px) {
  main .index-post .post-div2 .row-post {
    --bs-gutter-x: 0;
  }
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-section .index-div1, main .index-post .index-post-images .post-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

/*quienes somos*/
.wrapper {
  margin-top: 50px;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
}
.team .team_member {
  background: #fff;
  margin: 8% 10px 7% 0%;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}
.team .team_member h3 {
  color: #81c644;
  font-size: 26px;
  margin-top: 50px;
}
.team .team_member p.role {
  color: #ccc;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}
.team .team_member .team_img {
  position: absolute;
  top: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
}
.team .team_member .team_img img {
  width: 100px;
  height: 100px;
  padding: 5px;
  border-radius: 50%;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .index-section .index-div1, main .index-post .index-post-images .post-div1, main .equipo-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

/*newsletters*/
main {
  margin: 10% 0%;
}
main .container .news {
  --bs-gutter-x: 0;
}
main .container .news:nth-child(even) .columna-1 {
  order: -1;
}
main .container .news:hover {
  background-color: #C0D9BE;
}
main .container .news .imagen {
  padding-left: 0;
  position: relative;
}
main .container .news .imagen img {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}
main .container .news .imagen h2 {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
}
main .container .news .columna-1 {
  padding: 2%;
  text-align: justify;
}
main .container .news .columna-1 .link-newsletters {
  color: #874F9D;
  text-decoration: none;
  font-weight: bold;
}

.body-news-individuales {
  background-color: #D3E4CD;
}
.body-news-individuales main .news-ind-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #874F9D;
  margin-bottom: 2%;
}
.body-news-individuales main section div .columna-news .preguntas-news {
  text-align: center;
  font-weight: bold;
}
.body-news-individuales main section div .columna-news .linea-divisoria {
  height: 3px;
  background-color: #3FB6B0;
}
.body-news-individuales main .boton-news-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: 3%;
}
@media screen and (max-width: 480px) {
  .body-news-individuales main .boton-news-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
}
.body-news-individuales main .boton-news-div .boton-news-img {
  transition: all 1s;
}
.body-news-individuales main .boton-news-div .boton-news-img:hover {
  transform: scale(1.2);
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .index-section .index-div1, main .index-post .index-post-images .post-div1, main .equipo-div1, main .news-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #D3E4CD;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contacto-heading, .heading-post {
  font-family: "Inter", sans-serif;
  color: #874F9D;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.heading-t1 {
  font-weight: bolder;
  color: #3FB6B0;
  font-size: 60px;
  line-height: 50px;
  font-family: "Inter", sans-serif; /*desde aca*/
  /*Prueba animacion titulos*/
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  overflow: hidden;
  height: 48px; /*el height pega el titulo a la linea, regular en querys*/
}

@-webkit-keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}

@keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}
.heading-t2 {
  font-weight: bolder;
  color: #874F9D;
  font-size: 60px;
  line-height: 0;
  font-family: "Inter", sans-serif;
}

.newsletters-heading-2, .integrantes-heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: white;
}

p::-moz-selection, strong::-moz-selection, i::-moz-selection, br::-moz-selection, h1::-moz-selection, h2::-moz-selection, .heart::-moz-selection, a::-moz-selection, img::-moz-selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

p::selection, strong::selection, i::selection, br::selection, h1::selection, h2::selection, .heart::selection, a::selection, img::selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px) {
  .contacto-heading {
    font-size: 25px;
    text-align: center;
  }
  .heading-t1, .heading-t2 {
    font-size: 35px;
    height: 38px;
  }
  .index-text {
    text-align: justify;
    font-size: 16px;
  }
  .text-integrante > p, .newsletter-div > p {
    font-size: 16px;
  }
  .integrantes-heading-2 {
    font-size: 25px;
  }
  .newsletters-heading-2 {
    font-size: 20px;
  }
}
/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  .integrantes-heading, .contacto-heading, .heading-post {
    font-size: 25px;
    text-align: center;
  }
  .newsletters-heading-2, .integrantes-heading-2 {
    font-size: 25px;
  }
  .heading-t1, .heading-t2 {
    font-size: 45px;
    height: 42px;
  }
  .a ul {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}
.disclaimer {
  display: none;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, .descargables-div1, main .index-section .index-div1, main .index-post .index-post-images .post-div1, main .equipo-div1, main .news-div1, .congresos-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, .entrevistas-div1, main .index-section .index-div1, main .index-post .index-post-images .post-div1, main .equipo-div1, main .news-div1, .congresos-div1, .descargables-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #D3E4CD;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contacto-heading, .heading-post {
  font-family: "Inter", sans-serif;
  color: #874F9D;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.heading-t1 {
  font-weight: bolder;
  color: #3FB6B0;
  font-size: 60px;
  line-height: 50px;
  font-family: "Inter", sans-serif; /*desde aca*/
  /*Prueba animacion titulos*/
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  overflow: hidden;
  height: 48px; /*el height pega el titulo a la linea, regular en querys*/
}

@keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}
.heading-t2 {
  font-weight: bolder;
  color: #874F9D;
  font-size: 60px;
  line-height: 0;
  font-family: "Inter", sans-serif;
}

.newsletters-heading-2, .integrantes-heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: white;
}

p::-moz-selection, strong::-moz-selection, i::-moz-selection, br::-moz-selection, h1::-moz-selection, h2::-moz-selection, .heart::-moz-selection, a::-moz-selection, img::-moz-selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

p::selection, strong::selection, i::selection, br::selection, h1::selection, h2::selection, .heart::selection, a::selection, img::selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px) {
  .contacto-heading {
    font-size: 25px;
    text-align: center;
  }
  .heading-t1, .heading-t2 {
    font-size: 35px;
    height: 38px;
  }
  .index-text {
    text-align: justify;
    font-size: 16px;
  }
  .text-integrante > p, .newsletter-div > p {
    font-size: 16px;
  }
  .integrantes-heading-2 {
    font-size: 25px;
  }
  .newsletters-heading-2 {
    font-size: 20px;
  }
}
/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  .integrantes-heading, .contacto-heading, .heading-post {
    font-size: 25px;
    text-align: center;
  }
  .newsletters-heading-2, .integrantes-heading-2 {
    font-size: 25px;
  }
  .heading-t1, .heading-t2 {
    font-size: 45px;
    height: 42px;
  }
  .a ul {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}
.disclaimer {
  display: none;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.wikiaportes-div1, main .index-section .index-div1, main .index-post .index-post-images .post-div1, main .equipo-div1, main .news-div1, .congresos-div1, .descargables-div1, .entrevistas-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #D3E4CD;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contacto-heading, .heading-post {
  font-family: "Inter", sans-serif;
  color: #874F9D;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.heading-t1 {
  font-weight: bolder;
  color: #3FB6B0;
  font-size: 60px;
  line-height: 50px;
  font-family: "Inter", sans-serif; /*desde aca*/
  /*Prueba animacion titulos*/
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  overflow: hidden;
  height: 48px; /*el height pega el titulo a la linea, regular en querys*/
}

@keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}
.heading-t2 {
  font-weight: bolder;
  color: #874F9D;
  font-size: 60px;
  line-height: 0;
  font-family: "Inter", sans-serif;
}

.newsletters-heading-2, .integrantes-heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: white;
}

p::-moz-selection, strong::-moz-selection, i::-moz-selection, br::-moz-selection, h1::-moz-selection, h2::-moz-selection, .heart::-moz-selection, a::-moz-selection, img::-moz-selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

p::selection, strong::selection, i::selection, br::selection, h1::selection, h2::selection, .heart::selection, a::selection, img::selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px) {
  .contacto-heading {
    font-size: 25px;
    text-align: center;
  }
  .heading-t1, .heading-t2 {
    font-size: 35px;
    height: 38px;
  }
  .index-text {
    text-align: justify;
    font-size: 16px;
  }
  .text-integrante > p, .newsletter-div > p {
    font-size: 16px;
  }
  .integrantes-heading-2 {
    font-size: 25px;
  }
  .newsletters-heading-2 {
    font-size: 20px;
  }
}
/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  .integrantes-heading, .contacto-heading, .heading-post {
    font-size: 25px;
    text-align: center;
  }
  .newsletters-heading-2, .integrantes-heading-2 {
    font-size: 25px;
  }
  .heading-t1, .heading-t2 {
    font-size: 45px;
    height: 42px;
  }
  .a ul {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}
.disclaimer {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #D3E4CD;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contacto-heading, .heading-post {
  font-family: "Inter", sans-serif;
  color: #874F9D;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.heading-t1 {
  font-weight: bolder;
  color: #3FB6B0;
  font-size: 60px;
  line-height: 50px;
  font-family: "Inter", sans-serif; /*desde aca*/
  /*Prueba animacion titulos*/
  -webkit-animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  overflow: hidden;
  height: 48px; /*el height pega el titulo a la linea, regular en querys*/
}

@keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}
.heading-t2 {
  font-weight: bolder;
  color: #874F9D;
  font-size: 60px;
  line-height: 0;
  font-family: "Inter", sans-serif;
}

.newsletters-heading-2, .integrantes-heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: white;
}

p::-moz-selection, strong::-moz-selection, i::-moz-selection, br::-moz-selection, h1::-moz-selection, h2::-moz-selection, .heart::-moz-selection, a::-moz-selection, img::-moz-selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

p::selection, strong::selection, i::selection, br::selection, h1::selection, h2::selection, .heart::selection, a::selection, img::selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px) {
  .contacto-heading {
    font-size: 25px;
    text-align: center;
  }
  .heading-t1, .heading-t2 {
    font-size: 35px;
    height: 38px;
  }
  .index-text {
    text-align: justify;
    font-size: 16px;
  }
  .text-integrante > p, .newsletter-div > p {
    font-size: 16px;
  }
  .integrantes-heading-2 {
    font-size: 25px;
  }
  .newsletters-heading-2 {
    font-size: 20px;
  }
}
/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  .integrantes-heading, .contacto-heading, .heading-post {
    font-size: 25px;
    text-align: center;
  }
  .newsletters-heading-2, .integrantes-heading-2 {
    font-size: 25px;
  }
  .heading-t1, .heading-t2 {
    font-size: 45px;
    height: 42px;
  }
  .a ul {
    -webkit-margin-start: 0px;
            margin-inline-start: 0px;
  }
}
.disclaimer {
  display: none;
}/*# sourceMappingURL=style.css.map */