@charset "UTF-8";
.wikiaportes-div1, .entrevistas-div1, .descargables-div1, .congresos-div1, main .news-div1, main .equipo-div1, main .index-post .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 0em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 6%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #D3E4CD;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: inherit;
}

.contacto-heading, .heading-post {
  font-family: "Inter", sans-serif;
  color: #874F9D;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.heading-t1 {
  font-weight: bolder;
  color: #3FB6B0;
  font-size: 60px;
  line-height: 50px;
  font-family: "Inter", sans-serif; /*desde aca*/
  /*Prueba animacion titulos*/
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  overflow: hidden;
  height: 48px; /*el height pega el titulo a la linea, regular en querys*/
}

@keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}
.heading-t2 {
  font-weight: bolder;
  color: #874F9D;
  font-size: 60px;
  line-height: 0;
  font-family: "Inter", sans-serif;
}

.newsletters-heading-2, .integrantes-heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: white;
}

p::selection, strong::selection, i::selection, br::selection, h1::selection, h2::selection, .heart::selection, a::selection, img::selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px) {
  .contacto-heading {
    font-size: 25px;
    text-align: center;
  }
  .heading-t1, .heading-t2 {
    font-size: 35px;
    height: 38px;
  }
  .index-text {
    text-align: justify;
    font-size: 16px;
  }
  .text-integrante > p, .newsletter-div > p {
    font-size: 16px;
  }
  .integrantes-heading-2 {
    font-size: 25px;
  }
  .newsletters-heading-2 {
    font-size: 20px;
  }
}
/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  .integrantes-heading, .contacto-heading, .heading-post {
    font-size: 25px;
    text-align: center;
  }
  .newsletters-heading-2, .integrantes-heading-2 {
    font-size: 25px;
  }
  .heading-t1, .heading-t2 {
    font-size: 45px;
    height: 42px;
  }
  .a ul {
    margin-inline-start: 0px;
  }
}
.disclaimer {
  display: none;
}

.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #3FB6B0;
  padding: 18px 30px;
  position: fixed;
  bottom: 64px;
  right: 40px;
  cursor: pointer;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 97;
}

.btn-flotante:hover {
  background-color: #5CB235;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #ffffff;
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
/*header*/
header {
  background-color: #D3E4CD;
  width: 100%;
  height: 200px;
  /*logo*/
  /*menu nav*/
}
header .top-header {
  text-align: center;
}
header .top-header h1 a img {
  padding: 2%;
}
@media all and (max-width: 980px) {
  header .top-header h1 a img {
    display: flex;
  }
}
header nav {
  /*boton burguer*/
}
header nav input {
  display: none;
}
header nav label {
  display: inline;
}
header nav label .btn {
  display: none;
  position: absolute;
  width: 56px;
  height: 43px;
  right: 2.5rem;
  top: 3.3rem;
  cursor: pointer;
  /*fin boton burguer*/
}
header nav label .btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #874F9D;
  margin-top: 6px;
  transition: all 300ms;
  transform-origin: 0px 100%;
  /*transformacion de la cruz*/
  /* fin transformacion de la cruz*/
}
header nav label .btn span.linea1active {
  transform: rotate(45deg) translate(-2px, 1px);
}
header nav label .btn span.linea2active {
  opacity: 0;
  margin-left: -30px;
}
header nav label .btn span.linea3active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
header nav ul {
  color: #874F9D;
  text-align: center;
  margin-bottom: 0;
  padding-left: 0;
  transition: all 0.5s ease-in-out;
}
header nav ul li {
  display: inline-block;
  list-style: none;
  padding-left: 20px;
  color: #874F9D;
  font-family: Inter, sans-serif;
}
header nav ul li:hover {
  color: #5CB235;
}
header nav ul li a, header nav ul li ul li {
  font-family: Inter, sans-serif;
  text-decoration: none;
  color: #874F9D;
  padding-left: 0px;
}
@media all and (max-width: 980px) {
  header nav ul li a, header nav ul li ul li {
    font-size: 0.8em;
  }
}
header nav ul li a:hover, header nav ul li ul li:hover {
  color: #5CB235;
}
header nav ul .desplegable .sub-menu {
  transform: translateY(-5%);
  display: flex;
  opacity: 0;
  transition: all 300ms ease-out;
  flex-direction: column;
  align-items: flex-start;
  margin-top: unset;
  position: absolute;
  font-size: 0.8rem;
  padding-top: 10px;
}
header nav ul .desplegable:hover > .sub-menu {
  transform: translateY(5%);
  opacity: 1;
  border-top: 1px solid #5CB235;
}
header nav ul .desplegable .arrow {
  font-size: 10px;
  padding: 3px;
  transition: all 300ms ease-out;
}
@media all and (max-width: 980px) {
  header nav ul .desplegable .arrow {
    font-size: 1.8rem;
  }
}
header nav ul .desplegable:hover > .arrow {
  transform: rotate(-180deg);
}

.fixed {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 81px;
  background: #3FB6B0;
  top: 0;
  z-index: 6;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.fixed li, .fixed li a {
  color: #D3E4CD;
}
.fixed li ul li a {
  background: #5CB235;
}

@media all and (max-width: 980px) {
  header {
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999 !important;
    transition: all 0.5s ease-in-out;
  }
  header div h1 a img {
    width: 41%;
  }
  header nav #menu-burguer:checked ~ ul {
    left: 0;
  }
  header nav #menu-burguer:checked ~ body {
    overflow: hidden;
  }
  header nav #menu-burguer:checked ~ label .btn span {
    background: #D3E4CD;
  }
  header nav label .btn {
    display: block;
    right: 1.5rem;
    top: 1.3rem;
    z-index: 99;
  }
  header nav ul {
    display: flex;
    padding: 28% 0%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0vh;
    width: 100%;
    height: 100vh;
    background-color: #3FB6B0;
    z-index: 98;
    left: 100%;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
    font-size: 2em;
    padding-left: 0px;
  }
  header nav ul li a {
    color: #D3E4CD;
  }
  header nav ul li a:active {
    color: #874F9D;
  }
  header nav ul .desplegable {
    position: relative;
  }
  header nav ul .desplegable .sub-menu {
    height: auto;
    left: auto;
    display: none;
    opacity: 0;
    transition: all 300ms ease-out;
    border-top: 1px solid #D3E4CD !important;
    margin-top: unset;
    font-size: 0.8em;
    padding-top: 10px;
  }
  header nav ul .desplegable .sub-menu:target {
    display: flex;
    opacity: 1;
    flex-direction: column;
    align-items: center;
    transform: translateY(-8%);
  }
  .arrow {
    display: none;
  }
}
.scroll-none {
  overflow-y: hidden;
}

main .index-section .index-div1 {
  position: relative;
}
main .index-section .index-div2 {
  text-align: justify;
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  column-count: 2; /* número de columnas */
  column-gap: 0px; /* ancho de columnas */
  column-rule: 2px outset #3FB6B0; /* separación de columnas */
}
@media all and (max-width: 980px) {
  main .index-section .index-div2 {
    column-count: 1;
  }
}
main .index-section .index-div2 .index-text {
  margin: 0 10%;
}
@media all and (max-width: 980px) {
  main .index-section .index-div2 .index-text {
    margin: 0;
  }
}
@media all and (max-width: 980px) {
  main .index-section {
    margin: 35% 0%;
  }
}
main .index-post {
  margin: 10% 0% 3% 0%;
}
main .index-post .post-div2 {
  padding-top: 3%;
  padding-bottom: 3%;
}
main .index-post .post-div2 .row-post {
  --bs-gutter-x: 6.5rem;
}
main .index-post .post-div2 .row-post div a img {
  width: 100%;
  margin-top: 3%;
  border: solid 10px #3FB6B0;
  margin-bottom: 3%;
  transition: all 300ms ease 0ms;
}
main .index-post .post-div2 .row-post div a img:hover {
  background-color: #5CB235;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
  color: #ffffff;
}
@media all and (max-width: 980px) {
  main .index-post .post-div2 .row-post {
    --bs-gutter-x: 0;
  }
}
@media all and (max-width: 980px) {
  main {
    margin: 27% 0%;
  }
}

/*footer*/
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3FB6B0;
  /*Footer mobile*/
  /*Footer: tablet*/
}
footer .top-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2% 25%;
}
footer .top-container p {
  margin: 1rem 0;
  color: #D3E4CD;
  font-size: 1.2em;
}
footer hr {
  color: #D3E4CD;
  width: 100%;
  height: 2px !important;
}
footer #vertical {
  border: none;
  border-left: 1px solid hsl(200deg, 10%, 50%);
  height: 100vh;
  width: 1px;
}
footer .middle-container {
  display: flex;
  padding: 3% 5%;
  width: 100%;
  align-items: center;
  color: #D3E4CD;
}
footer .middle-container .left,
footer .middle-container .right {
  display: flex;
  width: 50%;
  flex-direction: column;
  padding: 0 20px;
}
footer .middle-container .left div .wrap,
footer .middle-container .right div .wrap {
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .middle-container .left div .wrap div,
footer .middle-container .right div .wrap div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8px;
}
footer .middle-container .left div .parent,
footer .middle-container .right div .parent {
  position: relative;
}
footer .middle-container .left div .parent .sub,
footer .middle-container .right div .parent .sub {
  transition: all 0.5s ease-in-out;
}
footer .middle-container .left div .parent .thanks,
footer .middle-container .right div .parent .thanks {
  font-size: 13px;
  transition: all 0.5s ease-in-out;
  position: absolute;
  top: -5px;
  left: 0;
  opacity: 0;
}
footer .middle-container .left div .text,
footer .middle-container .right div .text {
  font-size: 17px;
  color: #F5F5F5;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: all 0.5s ease-in-out;
}
footer .middle-container .left div #toggle,
footer .middle-container .right div #toggle {
  display: none;
}
footer .middle-container .left div .button,
footer .middle-container .right div .button {
  position: absolute;
  z-index: 999;
  width: 28px;
  height: 28px;
  background: #F9F9F9;
  border-radius: 10%;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
footer .middle-container .left div .button:before,
footer .middle-container .right div .button:before {
  position: absolute;
  top: 13px;
  left: 6px;
  content: "";
  width: 16px;
  height: 2px;
  background: #21CDB2;
  transform: rotate(90deg);
}
footer .middle-container .left div .button:after,
footer .middle-container .right div .button:after {
  position: absolute;
  top: 13px;
  left: 6px;
  content: "";
  width: 16px;
  height: 2px;
  background: #21CDB2;
}
footer .middle-container .left div #toggle:checked ~ .nav,
footer .middle-container .right div #toggle:checked ~ .nav {
  opacity: 1;
  transform: translateY(10%);
}
footer .middle-container .left div #toggle:checked ~ .button,
footer .middle-container .right div #toggle:checked ~ .button {
  transform: rotate(135deg);
  box-shadow: 0 0 transparent;
  border-radius: 100%;
}
footer .middle-container .left div #toggle:checked ~ .subbed,
footer .middle-container .right div #toggle:checked ~ .subbed {
  opacity: 1;
}
footer .middle-container .left div div,
footer .middle-container .right div div {
  flex-direction: row;
}
footer .middle-container .left div div span,
footer .middle-container .right div div span {
  padding: 10px;
}
footer .middle-container .left div a,
footer .middle-container .right div a {
  color: white;
}
footer .middle-container .left p,
footer .middle-container .right p {
  margin: 0;
}
footer .icon-footer {
  font-size: 2.2em;
  height: 32px;
  width: 32px;
  transition: all 300ms ease 0ms;
  color: #D3E4CD;
  background: black;
  margin-right: 17px;
  padding: 5px;
  border-radius: 50%;
}
footer .icon-sub {
  color: #D3E4CD;
  background: black;
  border-radius: 50%;
}
@media screen and (max-width: 480px) {
  footer .footer-text {
    font-size: 13px;
  }
  footer .footer-dev {
    margin: 4% 0 2% 0;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
  }
  footer .logo-social {
    width: 70%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer .logo-social {
    width: 85%;
  }
}

.footer-dev > .heart {
  display: inline-flex;
  animation-name: beatHeart;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/*quienes somos*/
.wrapper {
  padding: 0 10%;
  margin-top: 50px;
}

.team {
  display: flex;
  justify-content: center;
  width: auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.team .team_member {
  background: #3FB6B0;
  margin: 8% 0% 7% 0%;
  width: 300px;
  padding: 20px;
  line-height: 20px;
  color: #8e8b8b;
  position: relative;
}
.team .team_member h3 {
  color: #D3E4CD;
  font-size: 26px;
  margin-top: 85px;
}
.team .team_member p.role {
  color: white;
  margin: 12px 0;
  font-size: 12px;
  text-transform: uppercase;
}
.team .team_member p {
  color: #D3E4CD;
}
.team .team_member .team_img {
  position: absolute;
  top: -75px;
  left: 50%;
  transform: translateX(-50%);
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: #3FB6B0;
}
@media only screen and (max-width: 768px) {
  .team .team_member .team_img {
    width: 150px;
    height: 150px;
  }
}
.team .team_member .team_img img {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
}
@media only screen and (max-width: 768px) {
  .team .team_member .team_img img {
    width: 150px;
    height: 150px;
  }
}

/*newsletters*/
main {
  margin: 10% 0%;
}
main .container .news {
  --bs-gutter-x: 0;
  display: flex;
}
main .container .news:nth-child(even) .columna-1 {
  order: -1;
}
@media screen and (max-width: 992px) {
  main .container .news:nth-child(even) .columna-1 {
    order: inherit;
  }
}
main .container .news:hover {
  background-color: #C0D9BE;
}
main .container .news .imagen {
  padding-left: 0;
  width: 50%;
  height: 100%;
  position: relative;
}
@media screen and (max-width: 992px) {
  main .container .news .imagen {
    width: 100%;
  }
}
main .container .news .imagen .layer {
  position: absolute;
  height: 500px;
  width: 100%;
  background: linear-gradient(1deg, black, transparent);
}
main .container .news .imagen img {
  width: 100%;
  height: 500px;
  object-fit: cover;
}
main .container .news .imagen h2 {
  position: absolute;
  top: 80%;
  left: 40%;
  transform: translate(-50%, -50%);
}
main .container .news .columna-1 {
  padding: 2%;
  background: #3FB6B0;
  color: #D3E4CD;
}
main .container .news .columna-1 p {
  font-size: 1.08em;
}
main .container .news .columna-1 .link-newsletters {
  color: #874F9D;
  text-decoration: none;
  font-weight: bold;
}

.body-news-individuales {
  background-color: #D3E4CD;
}
.body-news-individuales main .news-ind-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #874F9D;
  margin-bottom: 2%;
}
.body-news-individuales main section div .columna-news .preguntas-news {
  text-align: center;
  font-weight: bold;
}
.body-news-individuales main section div .columna-news .linea-divisoria {
  height: 3px;
  background-color: #3FB6B0;
}
.body-news-individuales main .boton-news-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: 3%;
}
@media screen and (max-width: 480px) {
  .body-news-individuales main .boton-news-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
}
.body-news-individuales main .boton-news-div .boton-news-img {
  transition: all 1s;
}
.body-news-individuales main .boton-news-div .boton-news-img:hover {
  transform: scale(1.2);
}

.congresos-div1 .list-group-item:hover {
  background-color: none;
}

body {
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.notas {
  display: flex;
}
.notas .card {
  height: 50%;
  width: 50%;
}
@media screen and (max-width: 980px) {
  .notas .card {
    height: inherit;
    width: inherit;
  }
}
.notas .card img {
  opacity: 50%;
}
.notas .card .card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.notas .card .card-img-overlay .card-title {
  font-size: 2.5rem;
}
.notas .card .card-img-overlay .card-text {
  font-size: 1.5rem;
}
.index-div2 {
  text-align: justify;
  line-height: 1.6;
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  column-count: 2; /* número de columnas */
  column-gap: 0px; /* ancho de columnas */
  column-rule: 2px outset #3FB6B0; /* separación de columnas */
}
@media all and (max-width: 980px) {
  .index-div2 {
    column-count: 1;
  }
}
.index-div2 .index-text {
  margin: 0 10%;
}
@media all and (max-width: 980px) {
  .index-div2 .index-text {
    margin: 0;
  }
}

h3 {
  margin: 5%;
}

.list-group {
  margin: 5%;
  border-radius: 1.25rem;
}
.list-group-item {
  margin: 0.8%;
  border-radius: 1.25rem;
  border: none;
  background-color: #D3E4CD;
  box-shadow: 10px 18px 25px -7px rgba(150, 150, 150, 0.97);
}
.list-group-item:hover {
  background-color: #3FB6B0;
}