@charset "UTF-8";
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a, header .section-nav nav .navbar-femi .collapse-femi, header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .news-div1, main .equipo-div1, main .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

.btn-flotante {
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  letter-spacing: 2px;
  background-color: #E91E63;
  padding: 18px 30px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  transition: all 300ms ease 0ms;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  z-index: 9999;
}

.btn-flotante:hover {
  background-color: #2c2fa5;
  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
  transform: translateY(-7px);
}

@media only screen and (max-width: 600px) {
  .btn-flotante {
    font-size: 14px;
    padding: 12px 20px;
    bottom: 20px;
    right: 20px;
  }
}
/*Header map*/
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a, header .section-nav nav .navbar-femi .collapse-femi, header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .news-div1, main .equipo-div1, main .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

/*header*/
header .section-nav {
  margin-bottom: 2%;
}
header .section-nav nav .navbar-femi {
  margin-right: 10%;
}
header .section-nav nav .navbar-femi .navbar-brand .logo-femiciencia {
  margin: 10%;
}
@media screen and (max-width: 480px) {
  header .section-nav nav .navbar-femi .navbar-brand .logo-femiciencia {
    width: 70%;
  }
}
header .section-nav nav .navbar-femi .navbar-brand .logo-femiciencia:hover {
  transform: scale(1.1);
  transition: all 1s;
}
header .section-nav nav .navbar-femi .button-femi {
  background-color: rgba(211, 228, 205, 0);
  border-color: #3FB6B0;
}
header .section-nav nav .navbar-femi .button-femi .span-femi {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 182, 176, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a {
  position: relative;
}
header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a ul {
  padding-left: 0;
  /*start probando*/
  display: none;
  position: absolute;
  top: 100%;
}
header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a ul li {
  float: none;
  width: 150px;
}
header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a:hover > ul {
  display: block;
}
header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .nav-item .text-menu, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a ul {
  color: #874F9D;
  font-family: "Inter", sans-serif;
  font-size: 1em;
  text-decoration: none;
  list-style: none;
  margin: 0 10px;
  /*start probando*/
}
header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .nav-item .text-menu .text-menu, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a .text-menu, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a ul .text-menu {
  color: #874F9D;
  font-family: "Inter", sans-serif;
  font-size: 0.8em;
  text-decoration: none;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header, header .section-nav nav .navbar-femi .collapse-femi, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .news-div1, main .equipo-div1, main .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

/*footer*/
footer {
  margin: 3% 3% 1% 3%;
  /*Footer mobile*/
  /*Footer: tablet*/
}
footer .footer-text {
  font-weight: bold;
  text-align: center;
}
footer .social-media {
  margin: 1%;
}
footer .social-media .logo-social {
  width: 95%;
}
footer .social-media .logo-social:hover {
  transform: scale(1.1);
  transition: all 1s;
}
@media screen and (max-width: 480px) {
  footer .footer-text {
    font-size: 13px;
  }
  footer .footer-dev {
    margin: 4% 0 2% 0;
    font-weight: bold;
    text-align: center;
    font-size: 13px;
  }
  footer .logo-social {
    width: 70%;
  }
}
@media screen and (min-width: 481px) and (max-width: 980px) {
  footer .logo-social {
    width: 85%;
  }
}

.footer-dev {
  margin-bottom: 1%;
  margin-right: 1%;
  font-weight: bold;
  text-align: end;
}

.footer-dev > .heart {
  display: inline-flex;
  animation-name: beatHeart;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header, header .section-nav nav .navbar-femi .collapse-femi, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .news-div1, main .equipo-div1, main .index-post-images .post-div1, main .index-section .index-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

main .index-section {
  margin-bottom: 3%;
}
main .index-section .index-div1 {
  position: relative;
}
main .index-section .index-div2 {
  text-align: justify;
  margin-top: 0;
  padding-top: 3%;
  padding-bottom: 3%;
  column-count: 2; /* número de columnas */
  column-gap: 100px; /* ancho de columnas */
  column-rule: 10px outset #874F9D; /* separación de columnas */
}
main .index-section .index-div2 .index-text {
  margin: 0 10%;
}
main .post-div2 {
  padding-top: 3%;
  padding-bottom: 3%;
}
main .post-div2 .row-post div .post-image-a .post-image {
  width: 100%;
  margin-top: 3%;
  margin-bottom: 3%;
}
main .post-div2 .row-post div .post-image-a .post-image:hover {
  transform: scale(1.06);
  transition: all 1s;
}

footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header, header .section-nav nav .navbar-femi .collapse-femi, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .news-div1, main .equipo-div1, main .index-section .index-div1, main .index-post-images .post-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

/*quienes somos*/
main section div div .integrante {
  display: flex;
  flex-direction: center;
  margin: 1% 0 1% 0;
  align-items: center;
}
main section div div .integrante .image-integrante {
  width: 150px;
  height: 150px;
}
main section div div .integrante .img-integrante-sm {
  margin-bottom: 2%;
}
main section div div .integrante .text-integrante {
  margin: 0 2% 0 2%;
  padding: 2%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.integrante {
  background-color: #C0D9BE;
}
.integrante:hover {
  background-color: #ADCEAE;
}

/*newsletters*/
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header, header .section-nav nav .navbar-femi .collapse-femi, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .news-div1, main .index-section .index-div1, main .index-post-images .post-div1, main .equipo-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

main section div .columna-1 {
  padding: 2%;
}
main section div .columna-1:hover {
  background-color: #C0D9BE;
}
main section div .columna-1 .link-newsletters {
  color: #874F9D;
  text-decoration: none;
  font-weight: bold;
}

.body-news-individuales {
  background-color: #D9D7F1;
}
.body-news-individuales main .news-ind-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #874F9D;
  margin-bottom: 2%;
}
.body-news-individuales main section div .columna-news .preguntas-news {
  text-align: center;
  font-weight: bold;
}
.body-news-individuales main section div .columna-news .linea-divisoria {
  height: 3px;
  background-color: #3FB6B0;
}
.body-news-individuales main .boton-news-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 5%;
  margin-top: 3%;
}
@media screen and (max-width: 480px) {
  .body-news-individuales main .boton-news-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
  }
}
.body-news-individuales main .boton-news-div .boton-news-img:hover {
  transform: scale(1.2);
  transition: all 1s;
}

/*contacto*/
footer .social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

header, header .section-nav nav .navbar-femi .collapse-femi, header .section-nav nav .navbar-femi .collapse-femi .navbar-nav .a {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main .contacto-div1, main .index-section .index-div1, main .index-post-images .post-div1, main .equipo-div1, main .news-div1 {
  display: flex;
  align-items: baseline;
  margin-top: 1em;
  border-bottom: 1em solid #3FB6B0;
  margin-bottom: 2%;
}

main section div .text-contacto {
  color: #874F9D;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
}
main section div .bg-contacto {
  background-color: #C0D9BE;
}
main .div-enviar {
  margin-right: 2%;
}
@media screen and (max-width: 480px) {
  main .div-enviar .img-enviar {
    width: 70%;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #D3E4CD;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contacto-heading, .heading-post {
  font-family: "Inter", sans-serif;
  color: #874F9D;
  font-size: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.heading-t1 {
  font-weight: bolder;
  color: #3FB6B0;
  font-size: 60px;
  line-height: 50px;
  font-family: "Inter", sans-serif; /*desde aca*/
  /*Prueba animacion titulos*/
  animation: slide-top 1.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  position: absolute;
  overflow: hidden;
  height: 48px; /*el height pega el titulo a la linea, regular en querys*/
}

@keyframes slide-top {
  0% {
    height: 0px;
    transform: translateY(10%);
  }
  100% {
    transform: translateY(-95%);
  }
}
.heading-t2 {
  font-weight: bolder;
  color: #874F9D;
  font-size: 60px;
  line-height: 0;
  font-family: "Inter", sans-serif;
}

.newsletters-heading-2, .integrantes-heading-2 {
  font-family: "Inter", sans-serif;
  font-size: 28px;
  color: #4FAC24;
}

p::selection, strong::selection, i::selection, br::selection, h1::selection, h2::selection, .heart::selection, a::selection, img::selection {
  background-color: #874F9D;
  color: #D9D7F1;
}

/*General media queries*/
/*Main headings & texts size: mobile*/
@media screen and (max-width: 480px) {
  .contacto-heading {
    font-size: 25px;
    text-align: center;
  }
  .heading-t1, .heading-t2 {
    font-size: 35px;
    height: 38px;
  }
  .index-text {
    text-align: justify;
    font-size: 16px;
  }
  .text-integrante > p, .newsletter-div > p {
    font-size: 16px;
  }
  .integrantes-heading-2 {
    font-size: 25px;
  }
  .newsletters-heading-2 {
    font-size: 20px;
  }
}
/*Main headings & texts size: tablet*/
@media screen and (min-width: 481px) and (max-width: 980px) {
  .integrantes-heading, .contacto-heading, .heading-post {
    font-size: 25px;
    text-align: center;
  }
  .newsletters-heading-2, .integrantes-heading-2 {
    font-size: 25px;
  }
  .heading-t1, .heading-t2 {
    font-size: 45px;
    height: 42px;
  }
  .a ul {
    margin-inline-start: 0px;
  }
}
.disclaimer {
  display: none;
}