/*footer*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
   // padding: 0 10%;
    background-color: $color-green-femi;

    // background-position: bottom;
    // background-size: cover;
    // background-image: url(/media/Presentación\ Marca\ personal\ acuarela\ Creativa\ Rosa\ y\ naranja.png);
    .top-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 2% 10%;

        p {
            margin: 1rem 0;
            color: #D3E4CD;
            font-size: 1.2em;
        }
        a{
            // background-color: #21CDB2;
            color: #D3E4CD;
            font-size: 1.2rem;
            font-weight: bold;
        }
    }

    hr {
        color: #D3E4CD;
        width: 100%;
        height: 2px !important;
    }

    #vertical {
        border: none;
        border-left: 1px solid hsla(200, 10%, 50%, 100);
        height: 100vh;
        width: 1px;
    }

    
        // display: flex;
        
        // padding: 3% 5%;
        // align-items: center;
        
        // width: 100%;

        .social-container{
            display: flex;
            color: #D3E4CD;
            width: 100%;
            align-items: center;
            justify-content: space-evenly;


            .wrap {
                display: flex;
                justify-content: center;
                align-items: center
            }

            .wrap div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 8px
            }

            .parent {
                position: relative;
            }

            .parent .sub {
                transition: all .5s ease-in-out
            }

            .parent .thanks {
                font-size: 13px;
                transition: all .5s ease-in-out;
                position: absolute;
                top: -5px;
                left: 0;
                opacity: 0
            }

            .text {
                font-size: 17px;
                color: #F5F5F5;
                font-family: 'Open Sans', sans-serif;
                letter-spacing: 2px;
                text-transform: uppercase;
                transition: all .5s ease-in-out
            }

            #toggle {
                display: none
            }

            .button {
                position: absolute;
                z-index: 999;
                width: 28px;
                height: 28px;
                background: #F9F9F9;
                border-radius: 10%;
                transition: all .5s ease-in-out;
                cursor: pointer
            }

            .button:before {
                position: absolute;
                top: 13px;
                left: 6px;
                content: '';
                width: 16px;
                height: 2px;
                background: #21CDB2;
                transform: rotate(90deg)
            }

            .button:after {
                position: absolute;
                top: 13px;
                left: 6px;
                content: '';
                width: 16px;
                height: 2px;
                background: #21CDB2
            }

            #toggle:checked~.nav {
                opacity: 1;
                transform: translateY(10%)
            }

            #toggle:checked~.button {
                transform: rotate(135deg);
                box-shadow: 0 0 transparent;
                border-radius: 100%
            }

            #toggle:checked~.subbed {
                opacity: 1
            }

           
            
            

            a {
                color: white;
                display: flex;
                align-items: center;
            }


            p {
                margin: 0;
            }
            .insta{
                display: flex;
                flex-direction: row;
            }
        }
        
        .rigths-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: #D3E4CD;
            .license{
                :nth-child(2){
                    display: flex;
                    flex-direction: column;
                    width: 15%;
                    align-items: center;
                    margin-left: 45%;
                    margin-top: 3%;
                }
                width: 100%;
                display: inline;
                margin-bottom: 2%;
                a{
                    color: #D3E4CD;
                }
            }
            
            
        }


    

    .icon-footer {
        font-size: 2.2em;
        height: 32px;
        width: 32px;
        transition: all 300ms ease 0ms;
        color: #D3E4CD;
        background: black;
        margin-right: 17px;
        padding: 5px;
        border-radius: 50%;
        //box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
        //     &:hover{               
        //     //  box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.3);
        //         transform: translateY(-7px);
        //     }
    }

    .icon-sub {
        color: #D3E4CD;
        background: black;
        border-radius: 50%;
    }




    /*Footer mobile*/
    @media screen and (max-width: 480px) {
        .footer-text {
            font-size: 13px;
        }

        .footer-dev {
            margin: 4% 0 2% 0;
            font-weight: bold;
            text-align: center;
            font-size: 13px;
        }

        .logo-social {
            width: 70%;
        }
    }

    /*Footer: tablet*/
    @media screen and (min-width: 481px) and (max-width: 980px) {
        .logo-social {
            width: 85%;
        }
    }
}

.footer-dev>.heart {
    display: inline-flex;
    animation-name: beatHeart;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
}

@keyframes beatHeart {
    0% {
        transform: scale(1);
    }

    25% {
        transform: scale(1.1);
    }

    40% {
        transform: scale(1);
    }

    60% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}