@import '../base/variables';
@import '../base/mapas';
@import '../base/extends';



/*header*/
header {
    @extend %flexbox-sb;
    .section-nav{
        
        margin-bottom: 2%;
        nav {
            .navbar-femi {
                
                .navbar-brand{
                    .logo-femiciencia{
                        margin: 10%;
                        transition: all 300ms ease 0ms;  
                        @media screen and (max-width: 480px) {
                            width: 70%; 
                        }
                        &:hover{
                            transform: scale(1.1);  
                        }
                    }
                }
                .button-femi{
                    background-color: map-get($header, bg-button);
                    border-color: map-get($header, border-button);                    
                    .span-femi {
                        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(63, 182, 176, 0.85)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
                    }
                }
                .collapse-femi{
                    @extend %flexbox-sb;
                    .navbar-nav{
                        
                        .a {
                            @extend %flexbox-sb;
                            position: relative;
                            ul {
                                padding-left: 0;
                                /*start probando*/
                                display:none;
                                position:absolute;
                                top:100%;
                                li{
                                    float:none;
                                    width:150px
                                }
                                
                            }
                        }
                        .a:hover > ul {
                            display:block;
                        }
                        .text-menu:hover{
                              color:#5CB235!important;
                            }
                        .nav-item .text-menu, .a, .a ul{
                            color: map-get($header, text-menu-color);
                            font-family: $font-heading;
                            font-size: map-get($header, text-menu-size);
                            text-decoration: map-get($header, text-menu-decor);
                            list-style: none;
                            margin: 0 10px;
                            /*start probando*/
                            
                            .text-menu{
                                font-size: .8em;
                                transition: all 0.1s;
                                
                            }
                            .text-menu:hover{
                              color:#5CB235!important;
                            }
                            
                            
                        }
                        .nav-item:hover{
                            color:#5CB235!important;
                        }
                    }
                }
            }

        }
    }
}

