@import '../base/variables';
@import '../base/extends';



main{
    .index-section{
        margin-bottom: 3%;
        
        .index-div1{
            @extend %sub-headings;
            position: relative;
        }
        .index-div2{
            text-align: justify ;
            margin-top: 0;
            padding-top: 3%;
            padding-bottom: 3%;
            column-count: 2; /* número de columnas */
            column-gap: 0px; /* ancho de columnas */
            column-rule: 2px outset $color-green-femi; /* separación de columnas */
            .index-text {
                margin: 0 10%
            }
        }
    }
    .index-post-images {
        
        .post-div1{
            @extend %sub-headings;
        }
    }
    .post-div2{
        padding-top: 3%;
        padding-bottom: 3%;
       
        .row-post{
            div {
                .post-image-a {
                    .post-image{
                        width: 100%;
                        margin-top: 3%;
                        margin-bottom: 3%;
                        transition: all 300ms ease 0ms;
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                }
            }

        }
    }
}