@import '../base/mixins';
@import '../base/variables';
@import '../base/extends';

/*quienes somos*/

main{
    .equipo-div1{
        @extend %sub-headings;
    }
    // section{
    //     div{
    //         div{
    //             .integrante {
    //                 @include integrante (flex, center, 1% 0 1% 0, center);
    //                 .image-integrante{
    //                     width: 150px;
    //                     height: 150px;
    //                 }
    //                 .img-integrante-sm{
    //                     margin-bottom: 2%;
    //                 }
    //                 .text-integrante{
    //                     margin: 0 2% 0 2%;
    //                     padding: 2%;
    //                     display: flex;
    //                     flex-direction: column;
    //                     justify-content: center;
    //                     align-items: center;
    //                 }
    //             }
    //         }
    //     }
    // }
}

// .integrante{
//     background-color: $color-green-bg2;
//     &:hover{
//         background-color: $color-green-bg3;
//     }
// }

.wrapper{
    margin-top: 50px;
  }
  
  .team{
    display: flex;
    justify-content: center;
    width: auto;
    text-align: center;
    flex-wrap: wrap;
      .team_member{
      background: #fff;
      margin: 8% 10px 7% 0%;
      width: 300px;
      padding: 20px;
      line-height: 20px;
      color: #8e8b8b;  
      position: relative;
            h3{
            color: #81c644;
            font-size: 26px;
            margin-top: 50px;
            }
  
            p.role{
            color: #ccc;
            margin: 12px 0;
            font-size: 12px;
            text-transform: uppercase;
            }
  
                  .team_img{
                    position: absolute;
                    top: -50px;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 100px;
                    height: 100px;
                    border-radius: 50%;
                    background: #fff;
                    img{
                      width: 100px;
                      height: 100px;
                      padding: 5px;
                      border-radius: 50%;
                    }
                  }
      }
  }
    
