* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*header*/
header {
  background-color: #D3E4CD;
  width: 100%;
  height: 160px;
  /*logo*/
  /*menu nav*/
}
header a img {
  position: absolute;
  padding: 2rem;
}
header nav {
  /*boton burguer*/
}
header nav input {
  display: none;
}
header nav label .btn {
  display: none;
  position: absolute;
  width: 30px;
  height: 30px;
  right: 5rem;
  top: 3.3rem;
  cursor: pointer;
  /*fin boton burguer*/
}
header nav label .btn span {
  display: block;
  width: 100%;
  height: 2px;
  background: #874F9D;
  margin-top: 6px;
  transition: all 300ms;
  transform-origin: 0px 100%;
  /*transformacion de la cruz*/
  /* fin transformacion de la cruz*/
}
header nav label .btn span.linea1active {
  transform: rotate(45deg) translate(-2px, 1px);
}
header nav label .btn span.linea2active {
  opacity: 0;
  margin-left: -30px;
}
header nav label .btn span.linea3active {
  transform: rotate(-45deg) translate(-4px, 2px);
}
header nav ul {
  float: right;
  margin-right: 20px;
  margin-top: 50px;
  color: #874F9D;
}
header nav ul li {
  display: inline-block;
  list-style: none;
  padding: 7px;
  color: #874F9D;
  font-family: Inter, sans-serif;
}
header nav ul li:hover {
  color: #5CB235;
}
header nav ul li a {
  font-family: Inter, sans-serif;
  text-decoration: none;
  color: #874F9D;
}
header nav ul li a:hover {
  color: #5CB235;
}
header nav ul .desplegable .sub-menu {
  display: none;
}
header nav ul .desplegable:hover > .sub-menu {
  display: flex;
  flex-direction: column;
  margin-top: unset;
  position: absolute;
  font-size: 0.6rem;
}
header nav ul .desplegable .arrow {
  font-size: 10px;
  padding: 3px;
}

@media all and (max-width: 980px) {
  header nav #menu-burguer:checked ~ ul {
    left: 0;
  }
  header nav label .btn {
    display: block;
  }
  header nav ul {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100vh;
    background-color: #D3E4CD;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
  }
  header nav ul li {
    display: block;
    margin-top: 6rem;
    font-size: 2rem;
  }
}